[include klipper_configs/FlyingBearGenericConfigs/fb-ghost5-printer.cfg] 
#[include generic-mks-robin-nano-v3.cfg] 
#[include mainsail.cfg]
[mcu]
serial: /dev/ttyS5 # uart

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 5000
max_accel_to_decel: 2500
# max_z_velocity: 20
# max_z_accel: 100
[virtual_sdcard]
path: ~/printer_data/gcodes

[stepper_x]                                                                   
position_min: 14.0                                             
position_max: 252
position_endstop: 14.0

[stepper_z]                                                                   
position_max: 190   
#position_endstop: 0.5

[extruder]
# REMOVE
max_extrude_cross_section: 999999 

nozzle_diameter: 0.400

sensor_pin: PD8
spi_speed: 4000000
spi_software_sclk_pin: PD0
spi_software_mosi_pin: PD14
spi_software_miso_pin: PD1

rtd_nominal_r: 100
rtd_reference_r: 427 # or 430 or 400 ? замер на плате max
rtd_num_of_wires: 3
rtd_use_50hz_filter = True
control: pid
sensor_type: MAX31865
pid_Kp: 30.120
pid_Ki: 1.731
pid_Kd: 131.023
# pid_Kp: 14.669
# pid_Ki: 0.572
# pid_Kd: 94.068
min_temp = 0
max_temp = 400
max_extrude_only_distance = 100
# min_extrude_temp = 0
# rotation_distance = 3.9
# rotation_distance = 4.602
rotation_distance = 7.878
pressure_advance = 0.1
# [tmc2209 stepper_x] 
# [tmc2225 stepper_y] 
# [tmc2225 stepper_z]
# [tmc2225 extruder]

[firmware_retraction]
retract_length: 0.3
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 10
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[gcode_macro _CLIENT_VARIABLE]
gcode:
#variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
#variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
#variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
#variable_park_at_cancel   : False ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
#variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function

[gcode_macro M207]
# M207 S{retraction_amount} F{retraction_retract_speed}
gcode:
    {% set S = params.S|default(printer.configfile.settings.firmware_retraction.retract_length)|float %}
    {% set F = params.F|default(printer.configfile.settings.firmware_retraction.retract_speed)|float %}
    SET_RETRACTION RETRACT_LENGTH={S} RETRACT_SPEED={F}

[gcode_macro M208]
# M208 S{unretraction_extra_prime_amount} F{unretraction_prime_speed} 
gcode:
    {% set S = params.S|default(printer.configfile.settings.firmware_retraction.unretract_extra_length)|float %}
    {% set F = params.F|default(printer.configfile.settings.firmware_retraction.unretract_speed)|float %}
    SET_RETRACTION UNRETRACT_EXTRA_LENGTH={S} UNRETRACT_SPEED={F}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 0.410
